<f:for each="{order.orderItem}" as="orderItem" iteration="orderItemIterator">

    <div class="order-list__item">

        <f:render partial="Order/Form/ProductList/ProductImage" arguments="{product: orderItem.product}" />

        <div class="order-list__details">
            <h4 class="order-list__title">{orderItem.product.title}</h4>
            <f:if condition="{orderItem.product.subtitle}">
                <p class="order-list__subtitle">{orderItem.product.subtitle}</p>
            </f:if>

            <p>Bestellmenge: {orderItem.amount}</p>

        </div>

        <f:form.hidden id="txrkwshop-orderitem-{orderItem.uid}" property="orderItem.{orderItem.uid}" value="{orderItem.uid}"/>

    </div>

</f:for>