{namespace rkwShop=RKW\RkwShop\ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <div class="order-list form-fields">

        <div class="order-list__item">

            <f:render partial="Order/Form/ProductList/ProductImage" arguments="{product: product}" />

            <div class="order-list__details">
                <h4 class="order-list__title">{product.title}</h4>
                <h4 class="order-list__sku"><f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.product.detail.sku" /> {product.sku}</h4>
                <f:if condition="{product.subtitle}">
                    <p class="order-list__subtitle">{product.subtitle}</p>
                </f:if>
                <f:if condition="{product.description}">
                    <p class="order-list__description">{product.description}</p>
                </f:if>

                <f:render partial="Product/Detail/Input" arguments="{product: product}" />

                <!-- product is of type collection -->
                <f:if condition="{product.productType.isCollection}">
                    <f:render partial="Product/List/BundleOptions" section="isBundle" arguments="{product: product, showPid: showPid}" />
                </f:if>

                <!-- product is part of collection product -->
                <f:if condition="<f:count>{product.parentProducts}</f:count>">
                    <f:for each="{product.parentProducts}" as="parentProduct">
                        <f:if condition="{parentProduct.productType.model} instanceof '\RKW\RkwShop\Domain\Model\ProductCollection'">
                            <f:render partial="Product/List/BundleOptions" section="belongsToBundle" arguments="{product: parentProduct, showPid: showPid, showAddToCart: 1}" />
                        </f:if>
                    </f:for>
                </f:if>

            </div>

        </div>

    </div>

</f:section>