<f:if condition="<f:count>{productList}</f:count>">

    <div class="order-list">

        <f:for each="{productList}" as="product" iteration="productIterator">

            <div class="order-list__item">
                <f:render partial="Order/Form/ProductList/ProductImage" arguments="{product: product}" />

                <div class="order-list__details">
                    <f:link.action action="show" controller="Product" pluginName="ProductDetail" extensionName="RkwShop" pageUid="{showPid}" arguments="{product : product}" title="{product.title}">
                        <h4 class="order-list__title">{product.title}</h4>
                    </f:link.action>
                    <p>{product.productType.model}</p>
                    <f:if condition="{product.subtitle}">
                        <p class="order-list__subtitle">{product.subtitle}</p>
                    </f:if>

                    <!-- product contains -->
                    <f:if condition="<f:count>{product.childProducts}</f:count>">
                        <f:render partial="Product/List/BundleOptions" section="isBundle" arguments="{product: product, showPid: showPid}" />
                    </f:if>

                    <!-- product is part of -->
                    <f:if condition="<f:count>{product.parentProducts}</f:count>">
                        <f:for each="{product.parentProducts}" as="parentProduct">
                            <f:if condition="{parentProduct.productType.model} == '\RKW\RkwShop\Domain\Model\ProductBundle'">
                                <f:render partial="Product/List/BundleOptions" section="belongsToBundle" arguments="{product: parentProduct, showPid: showPid}" />
                            </f:if>
                        </f:for>
                    </f:if>

                </div>

            </div>

        </f:for>

    </div>

</f:if>

<!-- lazy loading / load more box -->
<f:render partial="Product/List/MoreLink" arguments="{_all}" />
