{namespace rkwShop=RKW\RkwShop\ViewHelpers}

<f:if condition="<f:count>{productList}</f:count>">

    <div class="order-list">

        <f:for each="{productList}" as="product" iteration="productIterator">

            <div class="order-list__item">
                <f:render partial="Order/Form/ProductList/ProductImage" arguments="{product: product}" />

                <div class="order-list__details">
                    <f:link.action action="show" controller="Product" pluginName="ProductDetail" extensionName="RkwShop" pageUid="{showPid}" arguments="{product : product}" title="{product.title}">
                        <h4 class="order-list__title">{product.title}</h4>
                    </f:link.action>
                    <p>{product.productType.model} {product.sku}</p>
                    <p>{product.edition}</p>
                    <f:if condition="{product.subtitle}">
                        <p class="order-list__subtitle">{product.subtitle}</p>
                    </f:if>

                    <!-- product is a standalone product -->

                    <!-- product is a collection product -->
                    <f:if condition="<f:count>{product.childProducts}</f:count>">

                        Wenn das Produkt selbst aber vom Typ "Product" ist, dann ist ein Status "vergriffen" nur notwendig, wenn die Kindelemente vergriffen sein sollten.
                        Wenn das Produkt selbst aber vom Typ "ProductCollection" ist, dann ist ein Status "vergriffen" nur notwendig, wenn die Kindelemente vergriffen sein sollten.

                        <f:if condition="<rkwShop:ProductStock product='{product}' />">
                            <f:then>
                                <p class="order-list__status">
                                    <f:comment>
                                        <f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.order.form.productList.input.stockLeft" arguments="{0: '{rkwShop:ProductStock(product: product)}'}"/>
                                    </f:comment>
                                    <f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.order.form.productList.input.inStock" />
                                </p>
                            </f:then>
                            <f:else>
                                <f:if condition="<rkwShop:ProductStock product='{product}' preOrder='1' />">
                                    <f:then>
                                        <p class="order-list__status order-list__status--warn">
                                            <f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.order.form.productList.input.outOfStockPreOrder" />
                                        </p>
                                    </f:then>
                                    <f:else>
                                        <p class="order-list__status order-list__status--warn">
                                            <f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.order.form.productList.input.outOfStock" />
                                        </p>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>

                        <f:render partial="Product/List/BundleOptions" section="isBundle" arguments="{product: product, showPid: showPid}" />
                    </f:if>

                    <!-- product belongs to a collection product -->
                    <f:if condition="<f:count>{product.parentProducts}</f:count>">

                        <f:count>{product.parentProducts}</f:count>

                        belongs to a collection product
                        ein

                        <f:for each="{product.parentProducts}" as="parentProduct">

                            <f:if condition="<rkwShop:ProductStock product='{parentProduct}' />">
                                <f:then>
                                    <p class="order-list__status">
                                        <f:comment>
                                            <f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.order.form.productList.input.stockLeft" arguments="{0: '{rkwShop:ProductStock(product: product)}'}"/>
                                        </f:comment>
                                        <f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.order.form.productList.input.inStock" />
                                    </p>
                                </f:then>
                                <f:else>
                                    <f:if condition="<rkwShop:ProductStock product='{product}' preOrder='1' />">
                                        <f:then>
                                            <p class="order-list__status order-list__status--warn">
                                                <f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.order.form.productList.input.outOfStockPreOrder" />
                                            </p>
                                        </f:then>
                                        <f:else>
                                            <p class="order-list__status order-list__status--warn">
                                                <f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.order.form.productList.input.outOfStock" />
                                            </p>
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>

                            <f:if condition="{parentProduct.productType.model} instanceof '\RKW\RkwShop\Domain\Model\ProductBundle'">
                                <f:render partial="Product/List/BundleOptions" section="belongsToBundle" arguments="{product: parentProduct, showPid: showPid}" />
                            </f:if>

                        </f:for>
                    </f:if>

                </div>

            </div>

        </f:for>

    </div>

</f:if>

<!-- lazy loading / load more box -->
<f:render partial="Product/List/MoreLink" arguments="{_all}" />
