<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <f:render partial="FlashMessages" arguments="{_all}" />
        <f:render partial="FormErrors" arguments="{object:Order}" />

        <f:if condition="{products}">

            <!-- form -->
            <f:form action="create" name="order" object="{order}">
                <f:render partial="Order/Form" arguments="{_all}" />
            </f:form>

        </f:if>
    </f:section>
</html>
