<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <div class="flex-container">
            <f:render partial="FlashMessages" arguments="{_all}" />
            <f:render partial="FormErrors" arguments="{object:Order}" />

            <f:if condition="{products}">

                <!-- form -->
                <f:form action="create" name="order" object="{order}" id="tx-rkw-order-form">
                    <f:render partial="Order/Form" arguments="{_all}" />

                    <!-- temporary fix because of special ajax-solution here -->
                    <script>
                        $("#tx-rkw-order-form").on('submit', function(e) {
                            $(this).find("button:not(.ajax)").prop('disabled',true).addClass('is-disabled');
                        });

                        $("#tx-rkw-order-form .js-open-mdl").modal();
                    </script>
                </f:form>

            </f:if>
        </div>
    </f:section>
</html>
