<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <div class="flex-container">
            <f:render partial="FlashMessages" arguments="{_all}" />
            <f:render partial="FormErrors" arguments="{object:Order}" />

            <f:if condition="{products}">

                <!-- form -->
                <f:form action="create" name="order" object="{order}" id="tx-rkw-order-form">
                    <f:render partial="Order/Form" arguments="{_all}" />

                    <!-- temporary fix because of special ajax-solution here -->
                    <script>
                        $("#tx-rkw-order-form").on('submit', function(e) {
                            $(this).find("button:not(.ajax)").prop('disabled',true).addClass('is-disabled');
                        });

                        $("#tx-rkw-order-form .js-open-mdl").modal();

                        $(document).on('modal:opened', function(event, triggerElement, activeModal) {
                            activeModal.find('.js-outcome-cancel').on('click', function (e) {
                                window.open(triggerElement.attr('href'), '_blank');
                            });

                            activeModal.find('.js-outcome-confirm').on('click', function () {
                                function triggerDownload (href) {
                                    const link = document.createElement('a');
                                    link.href = href;
                                    link.download = '';
                                    link.style.display = 'none';
                                    document.body.appendChild(link);
                                    link.click();
                                    document.body.removeChild(link);
                                }

                                triggerDownload(triggerElement.attr('href'));

                                const orderForm = $('#tx-rkw-shop');
                                orderForm.find('#txrkwshop-amount-' + triggerElement.data('product-uid')).val(1);
                                orderForm.show();
                                const offset = orderForm.offset().top;

                                $("html, body")
                                    .animate({
                                                 'scrollTop': offset - 100
                                             },
                                             1000,
                                             'easeOutQuart',
                                             function () {
                                                 const consentModalTrigger = $('#tx-rkw-shop .js-open-mdl').first();
                                                 const targetInputId = consentModalTrigger.attr('for');

                                                 consentModalTrigger
                                                     .parent()
                                                     .find(`input[id="${targetInputId}"]`)
                                                     .prop('checked', true)
                                                     .trigger('change');
                                             }
                                    );

                            });

                        });

                    </script>
                </f:form>

            </f:if>
        </div>
    </f:section>
</html>
