{namespace vh=RKW\RkwShop\ViewHelpers}

<f:form action="reviewOrder" name="order" object="{order}" controller="Checkout" pluginName="Checkout" extensionName="RkwShop" class="form-fields order-list" >

    <div class="order-form">
        <h5 class="order-form__header"><f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.checkout.confirm.form.billingaddress" /></h5>
        <f:render partial="Checkout/Form/BillingAddress" arguments="{_all}" />
    </div>

    <span class="checkbox">
		<label>
			<f:form.checkbox property="shippingAddressSameAsBillingAddress" value="1" checked="{order.shippingAddressSameAsBillingAddress}" class="js-same-as-billing"/>
			ShippingAddress === BillingAddress
		</label>
	</span>

    <f:comment>ShippingAddress nur anzeigen, wenn eine andere Anschrift gewünscht</f:comment>

    <div class="order-form js-shipping-address-form hide">
        <h5 class="order-form__header"><f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.checkout.confirm.form.shippingaddress" /></h5>
        <f:render partial="Checkout/Form/ShippingAddress" arguments="{_all}" />
    </div>

    <f:render partial="Checkout/Form/Terms" arguments="{_all}" />

    <p class="v320-1">
        <button class="button" type="submit">
            <span>Zur Bestellübersicht</span>
        </button>
    </p>

</f:form>

