{namespace rkwShop=RKW\RkwShop\ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:if condition="<f:count>{order.orderItem}</f:count>">

        <f:then>

            <!-- form -->
            <f:form action="confirmCart" name="order" object="{order}" controller="Checkout" pluginName="Checkout" extensionName="RkwShop" pageUid="{checkoutPid}" class="form-fields order-list js-order-list" >
                <f:for each="{order.orderItem}" as="orderItem">

                    <div class="order-list__item">

                        <f:link.action action="removeCartItem" controller="CartItem" arguments="{orderItem: orderItem}" class="order-list__item--remove js-remove" rel="nofollow">&times;</f:link.action>

                        <f:render partial="Order/Form/ProductList/ProductImage" arguments="{product: orderItem.product}" />

                        <div class="order-list__details">
                            <h4 class="order-list__title">{orderItem.product.title}</h4>
                            <f:if condition="{orderItem.product.subtitle}">
                                <p class="order-list__subtitle">{orderItem.product.subtitle}</p>
                            </f:if>

                            <p>Bestellmenge: {orderItem.amount}</p>
                            <div class="order-list__order">
                                <f:form.textfield type="number" id="txrkwshop-amount-{product.uid}" name="amount" value="{orderItem.amount}" class="quantity"/>
                                <f:form.hidden value="<f:uri.action controller='CartItem' action='changeCartItemQuantity' arguments='{orderItem: orderItem}'/>" class="js-change-quantity-url"/>
                            </div>
                        </div>

                    </div>

                </f:for>

                <f:link.action action="updateCart" controller="Checkout" arguments="{product: orderItem.product, remove: 'true'}" class="button" rel="nofollow">Warenkorb aktualisieren</f:link.action>

                <p class="v320-1">
                    <button class="button" type="submit">
                        <span><f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.cart.show.form.orderButton" /></span>
                    </button>
                </p>

            </f:form>

        </f:then>
        <f:else>
            <p><f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.cart.show.empty" /></p>
        </f:else>

    </f:if>

</f:section>