<f:layout name="Default"/>

<f:section name="actions">
    <span class="btn btn-default btn-sm">
        <f:be.buttons.icon
            uri="{f:uri.action(action:'list')}"
            icon="actions-close"/>
    </span>
</f:section>

<f:section name="content">
    <h1>
        <f:translate key="tx_cartorder.module.orderController.showAction.header"/>
    </h1>
    <h2>{order.frontendUser.lastName}, {order.frontendUser.firstName} ({order.orderNumber})</h2>

    <f:if condition="{order.orderItem}">

        <div class="table-fit">
            <table class="table table-striped typo3-dblist">
                <thead>
                    <tr class="t3-row-header">
                        <th style="width: 75px;">
                            <f:translate key="tx_rkwshop_domain_model_product.image"/>
                        </th>
                        <th style="width: 75px;">
                            <f:translate key="tx_rkwshop_domain_model_product.sku"/>
                        </th>
                        <th>
                            <f:translate key="tx_rkwshop_domain_model_product.title"/>
                        </th>
                        <th style="width: 100px;">
                            <f:translate key="tx_rkwshop_domain_model_orderitem.amount"/>
                        </th>
                    </tr>
                </thead>
                <tbody>
                <f:for each="{order.orderItem}" as="orderItem">
                    <tr class="db_list_normal">
                        <td>
                            <f:image src="{orderItem.product.image.originalResource.originalFile.uid}" title="{orderItem.product.image.originalResource.title}" alt="{orderItem.product.image.originalResource.title}" maxWidth="50" maxHeight="50"/>
                        </td>
                        <td style="text-align: left;">{orderItem.product.sku}</td>
                        <td style="text-align: left;">{orderItem.product.title}</td>
                        <td style="text-align: right;">{orderItem.amount}</td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>

    </f:if>

</f:section>

