<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:comment>
		<div class="form__field">
			<label for="tx-rkwshop-remark">
				<f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:tx_rkwshop_domain_model_order.remark" />
			</label>
			<f:form.textarea id="tx-rkwshop-remark" property="remark" />
		</div>
	</f:comment>

	<div class="form__approval">

		<f:security.ifAuthenticated>
			<f:else>
                <feRegister:consent type="terms" />
			</f:else>
		</f:security.ifAuthenticated>

        <feRegister:consent type="privacy" key="order" />
        <feRegister:consent type="marketing" />

		<div class="form__field flex space-start full-width-narrow">
			<button class="btn btn--primary full-width-narrow" type="submit">
				<f:if condition="{f:count(subject: products)} == 1 && {products.0.recordType} == '\RKW\RkwShop\Domain\Model\ProductSubscription'">
					<f:then>
						<f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.order.form.productList.subscriptionButton" />
					</f:then>
					<f:else>
						<f:translate key="LLL:EXT:rkw_shop/Resources/Private/Language/locallang.xlf:partials.order.form.productList.orderButton" />
					</f:else>
				</f:if>
			</button>
		</div>
	</div>

</html>