.rkw-order__loading {
    padding:20px;
}

.rkw-order__loading img {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.order-list .order-list__item--remove {
    position: absolute;
    right: 0.5em;
    font-size: 2em;
}

body.topic-1 .order-list .order-list__item--remove:hover {
    text-decoration: none;
    color: #e64415;
}
